name: Check style

on:
  pull_request:
    branches: [ main ]

jobs:
  check_style:
    name: Scalafmt check style
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Setup JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: Check style
      run: sbt scalafmtSbtCheck scalafmtCheckAll
